﻿@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #eaeaea;
}

#nav-main {
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#nav-container {
    position: absolute;
    width: 100%;
    top: 0;
    position: fixed;
    box-sizing: border-box;
}


#nav-main #nav-container ul {
    display: flex;
    background: #323639;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
}

#nav-main #nav-container ul li {
    display: flex;
    align-items: center;
    min-height: 48px;
    margin-left: 60px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nav-main #nav-container ul li:first-child {
margin-left: 0;
}

#nav-main #nav-container ul li a {
color: #f1f1f1;
}


#nav-main #nav-container #line {
position: absolute;
bottom: 0;
height: 2px;
background: red;
transition: all 150ms ease-in-out;
}

#nav-li_active-nav {
    font-size: 30px;
    font-weight:bolder;
    
}

.nav-li:hover {
    font-weight: bolder;
    font-size: 25px;
}

.body_container{
    position:absolute;
    margin-top:2%;
}

#user_id {
    color: aquamarine;
    position: relative;
    margin-left:1700px;
    margin-top:5px;
   
}