﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Jquery_Bootstrap/bootstrap.css">
    <script src="~/Content/Jquery_Bootstrap/Jquery.js"></script>
    <script src="~/Content/Jquery_Bootstrap/bootstrap.js"></script>
    <script src="~/Content/Jquery_Bootstrap/bootstrap.bundle.min.js"></script>


</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            @if (Session["Dangnhap"] != null && Session["Dangnhap"] != "")
            {
                <div class="position-absolute top-50 start-50 translate-middle h6" style="color:ivory">Xinchao! A</div>
            }
            else
            {
                <button type="button" class="btn btn-light position-absolute top-50 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#LoginModal">Login</button>
            }


            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="body_container">
        @RenderBody()
    </div>


    <footer>
        <div class="container">
            <div class="nine columns">
                <p>Mọi thắc mắc xin liên hệ:</p><br />

            </div>
        </div>
    </footer>




    <!-- Modal 1-->
    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Tên đăng nhập:</span>
                            <input type="text" id="autofilID" name="ID" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Mật khẩu:</span>
                            <input type="text" name="tenthietbi" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <a>Quên mật khẩu</a><br />
                        <a>Đăng kí thành viên</a>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="Deviceadd">Đăng Nhập</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
